<!DOCTYPE html>
<html>
<head>
    <title>My Biography</title>
</head>
<body>
<h1 style="color:red;">THIS IS MY REAL HOME FILE</h1>
 
<h1>Welcome to My Biography</h1>

<p>
My name is Mafu Ceesay. I am an international student from The Gambia,
currently studying at UIN Salatiga. I am passionate about technology,
especially data science and web development.
</p>

<nav>
    <a href="/">Home</a> |
    <a href="/about/">About Me</a>
</nav>

<h2>Skills</h2>
<ul>
    <li>Python</li>
    <li>Django</li>
    <li>Data Analysis</li>
    <li>Football</li>
    <li>Communication</li>
    <li>Cooking</li>
    <li>Leadership</li>
    <li>Web Design</li>
</ul>
<h2>Achievements</h2>
<ul>
    <li>Head Boy at Jabang Senior Secondary School</li>
    <li>President of International Students at UIN Salatiga</li>
    <li>Active in academic research and self-development</li>
    <li>Indonesian Debate Winner in Palembang</li>
    <li>Scholarship winner at uin Salatiga</li>
    <li>Bipa Certifate</li>
    <li>Patrol Leader Certificate (scouting) </li>
    <li>AICE 4TH Best Presenter at UIN Salatiga</li>
</ul>
<h3>Interests</h3>
<ul>
    <li>Data Science</li>
    <li>Web Development</li>
    <li>Research and Learning</li>

</ul>

</body>
</html>